
@using Templates.ViewModels
@model SubscribeViewModel

@{
    ViewData["EmailTitle"] = "Welcome To The Course";
}

    <p>
        Registration to the course has been completed successfullly.
    </p>

<br />

@await Html.PartialAsync("SubscribeToCourse", new SubscribeViewModel(Model.CourseName, Model.UserName, Model.StartDate, Model.EndDate))

<br />

<p>
    The Course Project
</p>