.login-form {
  width: 320px;
  background-color: #fff;
  border-radius:4px;
  padding: 2rem!important;
}

.login-form-register {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-btn {
  width: 100%;
}