.subscribe-card{
    width: 550px;
    margin: 0 auto!important;
    margin-top: 1rem!important;

    .subscribe-block{  
        max-width: 50rem;
        border: 1px solid blue;
        padding: 1rem;
        // display: grid;
        // grid-template-columns: auto 1fr auto;
        // grid-gap: 1rem;
        // align-items: center;
    }

    .logo-succsess{
        color:#40a9ff;
    }

    .imgsubscribe{
        width: 480px;
        height: 360px;
        margin-bottom: 1rem;
    }

    p{
        line-height: 1.1;
    }
}