@using Templates.ViewModels
@model ScheduleViewModel


<h1>Hello, @Model.UserName.</h1>
<h2>We'd like to remind you have exactly 1 month before the start of @Model.CourseName course.</h2>
<h2>Course Date: @Model.StartDate</h2>
<h2>Have a nice day.</h2>