@using Templates.ViewModels
@model ScheduleViewModel


<h1>Hello, @Model.UserName.</h1>
<h2>We'd like to remind you that @Model.CourseName course is goint to start tomorrow.</h2>
<h2>Course Date: @Model.StartDate</h2>
<h2>Have a nice day.</h2>